{% for profile in profiles %}

    <div class="block">
        <div class="card">
            <a href="{% url 'profile' profile.id %}">
                <div class="card-content">
                    <!-- ... More card code -->
                </div>
            </a>
        </div>
    </div>

<!--{% endfor %}-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>My projects</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1> List  </h1>-->
<!--<a href="#season2">HOw are you</a>-->
<!--<a href="#season3">how did you game?</a>-->
<!--<a href="total#season4">where did you go?</a>-->

<!--<h2> List <a href='index'> Enter</a></h2>-->
<!--<h3> List <a href="http://www.mindcraft.pro">Course's windows</a></h3>-->
<!--<h4> List <a href='https://stepik.org/lesson/266777/step/1?unit=247743' target="_blank">Stepik</a></a></h4>-->
<!--<h5> List <s> Hello my friends </s></h5>-->
<!--<h1>Weather's year</h1>-->
<!--<h2> Strong </h2>-->
<!--< -&#45;&#45;&#45;&#45;&#45;&#45; Comments -&#45;&#45;&ndash;&gt;-->
<!--&lt;!&ndash;<a href="mailto:zlava@gmail.com"> My account</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="tel:+79999999999">3воните нам бесплатно по телефону (999) 999-9999</a>&ndash;&gt;-->
<!--<p id="season1">My friends are dump</p>-->
<!--<p id="season2">Good</p>-->
<!--<p id="season3">Bad </p>-->
<!--&lt;!&ndash;lu для точек ol для цифр &ndash;&gt;-->
<!--<ol start="12">-->
<!--    <li> My account</li>-->
<!--    <li>was a strong</li>-->
<!--    <li> of lot tings</li>-->
<!--</ol>-->

<!--<ol>-->
<!--    <li>Account-->
<!--    <ul>-->
<!--        <li>my account</li>-->
<!--        <li> a strong</li>-->
<!--    </ul>-->
<!--    </li>-->
<!--    <li> Dog-->
<!--    <ul>-->
<!--        <li>my dog</li>-->
<!--        <li>a strong</li>-->
<!--    </ul>-->
<!--    </li>-->
<!--</ol>-->
<!--<hr>-->
<!--<dl>-->
<!--    <dt>Account</dt>-->
<!--        <dd>My account a strong</dd>-->

<!--    <dt>Dog</dt>-->
<!--        <dd>My dog a strong</dd>-->

<!--    <dt>Smile</dt>-->
<!--        <dd>My smile is the strong dog</dd>-->

<!--</dl>-->
<!--<hr>-->
<!--<b>hello my friend</b><br>-->
<!--<sub>hello my friend</sub><br>-->
<!--<em>hello my friend</em><br>-->
<!--<strong>hello my friend</strong><br>-->
<!--<p> friend goodbye  </p>-->

<!--<img src=https://img1.akspic.ru/previews/5/4/5/1/7/171545/171545-graficheskij_dizajner-rabochij_process-dizajn-grafika-dizajner-x750.jpg alt="I's i'm"-->
<!-- width="100" height="200">-->

<!--<table>-->
<!--    <caption>Account in Google</caption>-->
<!--    <tr>-->
<!--        <th>My account </th>-->
<!--        <th>email </th>-->
<!--        <th>password</th>-->
<!--    </tr>-->
<!--    <caption>Account in Google</caption>-->
<!--    <tr>-->
<!--        <td>slava</td>-->
<!--        <td>zlava.mag@gmail.com</td>-->
<!--        <td>RealMadrid</td>-->
<!--    </tr>-->
<!--    <caption>My opinion</caption>-->
<!--    <tr>-->
<!--        <td>hello</td>-->
<!--        <td>my</td>-->
<!--        <td>friend</td>-->
<!--    </tr>-->
<!--</table>-->

<!--<table>-->
<!--    <tr>-->
<!--        <th rowspan="3">Opinion</th>-->
<!--        <th colspan="2"> Account</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Hello my friends</td>-->
<!--        <td>You will do be my friends</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Hello my friends</td>-->
<!--        <td>You will do be my friends</td>-->
<!--    </tr>-->
<!--</table>-->

<!--</body>-->
<!--</html>-->